<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
      <h1 class="text-white text-center">Terms & Conditions</h1>
      <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita
          explicabo blanditiis corporis! Eius, non dicta? Nesciunt asperiores
          pariatur eius maiores natus rem officiis ad perspiciatis laudantium
          esse, cum provident repellendus?Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Expedita explicabo blanditiis corporis! Eius, non
          dicta? Nesciunt asperiores pariatur eius maiores natus rem officiis ad
          perspiciatis laudantium esse, cum provident repellendus?Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Expedita explicabo
          blanditiis corporis! Eius, non dicta? Nesciunt asperiores pariatur eius
          maiores natus rem officiis ad perspiciatis laudantium esse, cum
          provident repellendus?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita
          explicabo blanditiis corporis! Eius, non dicta? Nesciunt asperiores
          pariatur eius maiores natus rem officiis ad perspiciatis laudantium
          esse, cum provident repellendus?Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Expedita explicabo blanditiis corporis! Eius, non
          dicta? Nesciunt asperiores pariatur eius maiores natus rem officiis ad
          perspiciatis laudantium esse, cum provident repellendus?Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Expedita explicabo
          blanditiis corporis! Eius, non dicta? Nesciunt asperiores pariatur eius
          maiores natus rem officiis ad perspiciatis laudantium esse, cum
          provident repellendus?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita
          explicabo blanditiis corporis! Eius, non dicta? Nesciunt asperiores
          pariatur eius maiores natus rem officiis ad perspiciatis laudantium
          esse, cum provident repellendus?Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Expedita explicabo blanditiis corporis! Eius, non
          dicta? Nesciunt asperiores pariatur eius maiores natus rem officiis ad
          perspiciatis laudantium esse, cum provident repellendus?Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Expedita explicabo
          blanditiis corporis! Eius, non dicta? Nesciunt asperiores pariatur eius
          maiores natus rem officiis ad perspiciatis laudantium esse, cum
          provident repellendus?
        </p>
        <div class="text-center">
          <button class="btn btn-info btn-theme btn-sm pe-4 ps-4 mt-4">Back to Home</button>
        </div>
      </div>
    </div>
  </section>
  